@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Are You Hungry?</h1>
    <a href="@Url.Action("PlaceAnOrder", "Food")" class="btn btn-primary">Place An Order</a>
    <a href="@Url.Action("PeopleChoice", "Food")" class="btn btn-warning">People's Choice</a>
</div>
